.homeScreen {
  background-color: #2e2e2e;
}

.youtube-embed-cont {
  margin: 0 auto;
  padding: 0 10px 0 10px;

  width: 310px;
  height: 174px;
}

.youtubeVideo__sectionTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #fcfcfc;
  text-align: left;
  width: 310px;
  padding: 0 10px;
  margin: .6rem auto 4rem auto;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 400px) {
  .youtube-embed-cont {
    width: 390px;
    height: 219px;
  }
  .youtubeVideo__sectionTitle {
    width: 390px;
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  .youtube-embed-cont {
    width: 750px;
    height: 422px;
  }
  .youtubeVideo__sectionTitle {
    width: 750px;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}